@import "./variables.scss";

*:where(:not(iframe, canvas, img, svg, video, input):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

  html, body {margin: 0; height: 100%; overflow: hidden;}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $primary_font_family;
}

a,
button {
  cursor: revert;
  pointer-events: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  -webkit-linebreak: after-white-space;
  overflow-wrap: break-word;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

.nav-tabs .nav-link{
  color: #ffba27;
  font-size: $font-body-normal;
  font-weight: $font-semibold;
  &:hover {
  color: #ffba27;
  }
}


